<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="d-inline-block">Vtuber一覧</h2>
      <h5 class="d-inline-block">(全<%= @total_vtubers.count %>件)</h5>
    </div>
  </div>
  <div class="row mt-3 text-md-left">
    <% @vtubers.each do |vtuber| %>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
      <div class="card bg-transparent border-0" style="width: 18rem;">
        <div class="card-body" style="margin-bottom: 10px;">
          <%= link_to vtuber_path(vtuber) do %>
            <div class="card-img" style="margin-bottom: 10px;">
              <% if vtuber.image.attached? %>
                <%= image_tag(vtuber.image, width: "250px", height: "350px") %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            </div>
          <% end %>
          <p class="card-text">
            <%= vtuber.name %>
            <p class=<%= "favorite-#{vtuber.id}" %> >
             <%= render "favorites/btn", vtuber: vtuber %>
             </p>
            <p><%= link_to "#{vtuber.vtuber_comments.count} コメント", vtuber_path(vtuber.id) %></p>
            <p>
              <i class="fas fa-tag">
                <!--タグリスト-->
              <% @tag_list.each do |list|%>
                <%=link_to list.tag_name,search_tag_path(tag_id: list.id) %>
                <%="(#{list.vtubers.count})" %>
              <% end %>
              </i>
            </p>
          </p>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <%= paginate(@vtubers) %>
  <%= link_to new_vtuber_path,'data-turbolinks': false  do %>
    <i class="fas fa-user-plus"></i> 新規投稿
  <% end %>
</div>
