<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <div class='col-md-14 offset-md-1'>
  		<table class='table text-center'>
  		  <tr>
  		    <td>
  		      <h2><%= @vtuber.name %></h2>
  		    </td>
  		  </tr>
  		  <tr>
  		    <td>
  		      <% if @vtuber.image.attached? %>
              <%= image_tag @vtuber.image, size: "200x250" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
          </td>
  		  </tr>
        <tr>
          <td><%= @vtuber.belonging_office %></td>
        </tr>
        <tr>
          <td><%= @vtuber.fan_name %></td>
        </tr>
        <tr>
          <td><%= @vtuber.debut_day %></td>
        </tr>
        <tr>
          <td><%= @vtuber.registered_person %>人</td>
        </tr>
        <tr>
          <td class="text-break"><%= @vtuber.profile %></td>
        </tr>
        <tr>
          <td><% @vtuber_tags.each do |tag| %>
                <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id)%><%="(#{tag.vtubers.count})" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to(@vtuber.user) do %>
            <%= @vtuber.user.name %>
            <%= image_tag @vtuber.user.get_profile_image(100,100) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <% if @vtuber.user == current_user %>
          <td class=<%= "favorite-#{@vtuber.id}" %> >
            <%= render "favorites/btn", vtuber: @vtuber %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'vtuber_comments/counter', vtuber: @vtuber %>
          </td>
          <% end %>
        </tr>
        <tr>
          <td>
            <% if @vtuber.user == current_user %>
              <%= link_to 'Edit', edit_vtuber_path(@vtuber), class: "btn btn-sm btn-success" %>
              <%= link_to 'Destroy', @vtuber, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= render "vtuber_comments/index", vtuber: @vtuber %>
          </td>
        </tr>
        <% if @vtuber_comment.errors.any? %>
          <div class="alert alert-danger">
            <h3><%= @vtuber_comment.errors.count %>つのエラーが発生しました</h3>
            <ul>
              <% @vtuber_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <tr>
          <td>
            <%= render "vtuber_comments/form", vtuber: @vtuber, vtuber_comment: @vtuber_comment %>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>