<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-3 col-mr-4'>
      <div class='col-md-14 offset-md-1'>
  		<h2><%= @vtuber.name %></h2>
  		<table class='table'>
  		  <tr>
  		    <td><% if @vtuber.image.attached? %>
              <%= image_tag @vtuber.image, size: "200x250" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
            <% end %></td>
  		  </tr>
        <tr>
          <td><%= @vtuber.belonging_office %></td>
        </tr>
        <tr>
          <td><%= @vtuber.fan_name %></td>
        </tr>
        <tr>
          <td><%= @vtuber.debut_day %></td>
        </tr>
        <tr>
          <td><%= @vtuber.registered_person %>人</td>
        </tr>
        <tr>
          <td><%= @vtuber.profile %></td>
        </tr>
        <tr>
          <td><% @vtuber_tags.each do |tag| %>
                <%=link_to tag.tag_name,search_tag_path(tag_id: tag.id)%><%="(#{tag.vtubers.count})" %>
              <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to(@vtuber.user) do %>
            <%= @vtuber.user.name %>
            <%= image_tag @vtuber.user.get_profile_image(100,100) %>
          </td>
        </tr>
        <tr>
          <% if @vtuber.user == current_user %>
          <td><%= link_to "いいねした投稿者", favorites_user_path(current_user) %>
          <% end %>
            <%= render 'vtuber_comments/counter', vtuber: @vtuber %>
          </td>
        </tr>
              <% end %>

      </table>
      <div class="position-absolute top-50 start-50">
        <% if @vtuber.user == current_user %>
        <%= link_to 'Edit', edit_vtuber_path(@vtuber), class: "btn btn-sm btn-success" %>
        <%= link_to 'Destroy', @vtuber, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
      <% end %>
      </div>
    </div>

  </div>

  <div class='col-md-5 col-mr-4'>
  <%= render "vtuber_comments/index", vtuber: @vtuber %>
  </div>
  <div class='col-md-4 col-mr-4'>
    <table class="table">
      <tr>
        <td>
          <%= render "vtuber_comments/form", vtuber: @vtuber, vtuber_comment: @vtuber_comment %>
        </td>
      </tr>
    </table>
  </div>
</div>