
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-9">
          <p>当サイトは、Vtuber（バーチャルユーチューバー）の紹介とレビューに特化したウェブサイトです<br>私たちは、さまざまなVtuberの情報を提供し、彼らの個性や活動内容を紹介することで、<br>Vtuberファンコミュニティをサポートしています。</p>
        </div>
      </div>
    </div>
    <div class="container mt-8">
      <h2>Vtuberリスト</h2>
      <div class="row">
        <% @vtubers.first(4).each do |vtuber| %>
          <div class="col-md-3 col-sm-6">
            <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
              <% if vtuber.image.attached? %>
                <%= link_to vtuber_path(vtuber) do %>
                  <div class="img-wrap" style="margin-bottom: 10px;">
                    <%= image_tag(vtuber.image, width: "200px", height: "200px", fallback: "no_image.jpg") %>
                  </div>
                <% end %>
              <% else %>
                <!-- 画像が添付されていない場合の表示 -->
                <%= link_to vtuber_path(vtuber) do %>
                  <div class="img-wrap" style="margin-bottom: 10px;">
                    <%= image_tag("no_image.jpg", width: "200px", height: "200px") %>
                  </div>
                <% end %>
              <% end %>
                <div class="card-body">
                  <p class="card-text"><%= vtuber.name %></p>
                </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="all-vtubers-show-button"><%= link_to "全てのVtuberをみる", vtubers_path %></div>
    </div>



      </div>

    </div>
  </main>
</body>
